<footer class="footer">
	<div class="rights">
		<span>© Etherisc 2016-2024</span>
		<a class="terms" href="https://docs.etherisc.com/learn/privacy-policy">Privacy</a>
		<a class="terms" href="https://docs.etherisc.com/learn/terms-of-service">Terms of Service</a>
	</div>
</footer>
{{> footer-scripts }}